.btn-style ,mat-card,table{
  font-family: 'Tajawal', sans-serif !important;

}
.text-Tajawal{
  font-family: 'Tajawal', sans-serif !important;
}
.select-style{
  direction: ltr;
}
.mat-column-_id {
  width: 40px;
  text-align: center;
}
