.btn-style ,mat-card,table{
  font-family: 'Tajawal', sans-serif !important;

}
.text-Tajawal{
  font-family: 'Tajawal', sans-serif !important;
}
.btn-stye{
  text-align: center;
  padding: 1px !important;
  width: 25px !important;
  min-height: 25px !important;
  height: 25px !important;
  line-height: 0;
  min-width: unset!important;
}
.select-style{
  direction: ltr;
}
.mat-column-_id {
  width: 40px;
  text-align: center;
}
