<div class="landing pt-5">
  <swal>
  </swal>
  <div class="container-fluid landing p-0 m-0">
    <section class=" text-light">
      <div class="container section-features">
        <div class="row px-2">
          <div class="col-12 col-sm-12">
            <h3>كابتن - المطعم الذكي </h3>
            <p class="lead lh-lg">منصة إلكترونية وتطبيق تقوم بأتمتة أعمال مطعمك وتقديم تجربة مختلفة لزبائنك من خلال </p>
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <ul>
              <span class="color-orange fw-bold my-2 d-block">الخدمات من خارج المطعم</span>
              <li class="lh-base"
                  *ngFor="let item of featuresListOutRestaurant">{{item}}</li>
            </ul>
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <ul>
              <span class="color-orange fw-bold my-2 d-block">الخدمات من داخل المطعم</span>
              <li class="lh-base list-dotted-orange"
                  *ngFor="let item of featuresListInRestaurant">{{item}}</li>
            </ul>
          </div>

          <!-- featuresListInRestaurant -->

        </div>
        <div class="row px-2 my-2">
          <h2 class="text-center fw-bold fs-4 mt-4 mb-2">وظائف التطبيق</h2>
          <p class="text-center text-teal-200 fs-6 my-2">شاشات بعض الاقسام في لوحة تحكم مدير المطعم</p>
          <swiper class="swiper-container px-4 py-3"
          [config]="config1"
          [slidesPerView]="2"
          [spaceBetween]="50"
         
        >
          <ng-template swiperSlide>
            <div class="img-box">
              <img src="../../../../assets/imgs/home/1.png" alt="" srcset=""width="400px" height="400px">
            </div>
          </ng-template>
          <ng-template swiperSlide>  
            <div class="img-box">
            <img src="../../../../assets/imgs/home/2.png" alt="" srcset=""width="400px" height="400px">
          </div>
        </ng-template>
          <ng-template swiperSlide><div class="img-box">
            <img src="../../../../assets/imgs/home/3.png" alt="" srcset=""width="400px" height="700px">
          </div></ng-template>
          <ng-template swiperSlide><div class="img-box">
            <img src="../../../../assets/imgs/home/4.png" alt="" srcset="" width="400px" height="400px">
          </div></ng-template>
        </swiper>
        </div>


        <div class="row  px-2 my-2 d-flex  justify-content-center">
          <div class="row text-center">
            <h3 class="fw-bold my-2 fs-4">تقديم طلب اشتراك</h3>
            <span class="my-2">بعد تقديم طلبك سوف نتواصل معك لتقديم المعلومات الازمة والمساعدة في تدريب العاملين على
              التطبيق والمنصة </span>
          </div>

          <div class="row d-flex  justify-content-center  ">
            <form action=""
                  [formGroup]="subscribedUsers"
                  (ngSubmit)="onSubmitSubscribed()">
              <div class="row my-2 d-flex  justify-content-center">
                <div class="col-sm-12 col-md-4 col-12 my-2 my-sm-2 my-md-1">
                  <input type="text"
                         formControlName="restaurantName"
                         placeholder="أدخل اسم مطعمك"
                         class="w-100 form-control">
                </div>
                <div class="col-sm-12 col-md-4 col-12 my-2 my-sm-2 my-md-1">
                  <input type="text"
                         formControlName="restaurantPhoneNumber"
                         placeholder="أدخل رقم الهاتف"
                         class="w-100 form-control"
                         autocomplete="tel">
                </div>


              </div>
              <div class="row my-2 d-flex  justify-content-center">
                <div class="col-sm-12 col-md-4 col-12 my-2 my-sm-2 my-md-1">
                  <input type="email"
                         formControlName="restaurantEmail"
                         placeholder="أدخل ايميل المطعم"
                         class="w-100 form-control"
                         autocomplete="email">
                </div>
                <div class="col-sm-12 col-md-4 col-12 my-2 my-sm-2 my-md-1">
                  <input type="text"
                         formControlName="restaurantAddress"
                         placeholder="أدخل عنوانك "
                         class="w-100 form-control"
                         autocomplete="address-level1">
                </div>
              </div>
              <div class="row my-2 d-flex  justify-content-center">
                <div class="col-sm-12 col-md-8 col-12 my-2 my-sm-2 my-md-1">
                  <textarea class="form-control"
                            formControlName="restaurantNote"
                            rows="3"
                            placeholder="هنا تستطيع كتابة أي ملاحظات ترغب بها "></textarea>
                </div>

              </div>
              <div class="row my-3  d-flex  justify-content-center">
                <button type="submit"
                        [disabled]="!subscribedUsers.valid"
                        class="w-sm-50 w-25 w-md-25 w-lg-25 w-lxx-25 main-btn-secondary text-center  btn  button-animation btn-2">
                  <span>أشتراك</span>
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>



    </section>
  </div>
  <div class="container-fluid bg-orange p-0 m-0">
    <section class="p-0 m-0">
      <div class="container">
        <div class="row my-0 bg-orange">
          <h2 class="text-center my-4 text-light">المطاعم المشتركة معنا</h2>
          <div class="row mb-4 d-flex flex-row justify-content-center align-items-center">
            <!-- col-sm-12 col-md-4 col-lg-3 py-2 d-flex flex-row justify-content-center align-items-center -->
            <div class=""
                 >
              <swiper [config]="config" class="swiper-container px-4 py-3">
                <ng-template swiperSlide *ngFor="let item of RestaurantSubscription;index as i">
                  <mat-card class="card-parent mx-auto">
                    <div class=""
                         *ngIf="!item.avatar then staticImage;else loadImage">

                    </div>
                    <ng-template #staticImage>
                      <img [src]="'../../../../assets/imgs/oriental-restaurant.jpg'"
                           alt="restaurant-img"
                           class="img-resto rounded">
                      <div class="overlay">
                        <span class="resturant-name text-light">{{item.name}}</span>
                        <button type="button"
                                class="btn-view-restourant"
                                (click)="viewHomeRestaurant(item._id,item.name)">أستعراض المطعم</button>

                      </div>
                    </ng-template>
                    <ng-template #loadImage>
                      <img [src]="'../../../../assets/imgs/oriental-restaurant.jpg'"
                           alt="restaurant-img"
                           class="img-resto rounded">
                      <div class="overlay">
                        <span class="resturant-name text-light">{{item.name}}</span>
                        <button type="button"
                                class="btn-view-restourant"
                                (click)="viewHomeRestaurant(item._id, item.name)">أستعراض المطعم</button>

                      </div>
                    </ng-template>
                  </mat-card>
                </ng-template>

              </swiper>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
