$orange-color:#FF7700 ;
  $dark-color:#19283f;
  $nav-link-color:#fff;
  $green-color:#33d1cc;
  $red-color:#ff3150;
  $yellow-color:#ffc400;
.login-board{
  padding-top: 170px;
  background-color: $dark-color;
  min-height: 500px;

}
