<div class="container-fluid">
  <div class="row flex-nowrap">
    <!-- px-sm-2 -->
    <div class="col-auto col-md-3 col-lg-3 col-xl-2  px-0 bg-orange">
      <div class="d-flex flex-column align-items-center align-items-sm-start  pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 text-white text-decoration-none">
              <span class="fs-5 d-none d-sm-inline">Menu</span>
          </a>
          <!--  -->
          <div class="dropdown pb-1 pt-3 text-lg-start align-items-end  w-100 d-flex flex-column ">
            <a class="d-flex text-lg-start  fw-normal primary-color text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <!-- <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle"> -->
                <span class="d-none d-sm-inline mx-1">User</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
          <ul class="nav  flex-column mb-sm-auto mb-0 mx-0 px-0
          align-items-center align-items-sm-start fs-6" id="menu">

              <li class="nav-item ">
                <!-- align-middle -->
                  <a  class="nav-link  px-2 mx-0 w-100   primary-color" [routerLink]="['./add-Rest']" routerLinkActive="linkActiveDashBoard">
                      <i class="fs-4 bi-house"></i>
                      <span class="me-1 d-none d-sm-inline">تسجيل مطعم جديد</span>
                  </a>
              </li>
              <!-- <li>
                  <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                  <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                      <li class="w-100">
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                      </li>
                  </ul>
              </li> -->
              <li class="divder-list nav-item w-100 mx-0" >
                  <a [routerLink]="['./subscribe-rest']" routerLinkActive="linkActiveDashBoard" class="nav-link px-2 mx-0 w-100   primary-color my-0">
                      <i class="fs-4 bi-table"></i> <span class="me-2 d-none d-sm-inline">طلبات الأشتراك</span></a>
              </li>
              <li class="divder-list nav-item w-100 mx-0" >
                <a [routerLink]="['./restaurant-clients']" routerLinkActive="linkActiveDashBoard" class="nav-link px-2 mx-0 w-100   primary-color my-0">
                     <span class="me-2 d-none d-sm-inline w-100">المطاعم المشتركة</span></a>
            </li>
            <li class="divder-list nav-item w-100 mx-0" >
              <a [routerLink]="['./admin-board']" routerLinkActive="linkActiveDashBoard" class="nav-link px-2 mx-0 w-100   primary-color my-0">
                   <span class="me-2 d-none d-sm-inline w-100">عمليات المشرفين</span></a>
          </li>
              <!-- <li>
                  <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                      <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                  <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                      <li class="w-100">
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                      </li>
                  </ul>
              </li> -->
              <!-- <li>
                  <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline"></span> </a>
                      <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                      <li class="w-100">
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                      </li>
                  </ul>
              </li> -->
              <!-- <li>
                  <a href="#" class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
              </li> -->
          </ul>
          <hr>

      </div>
  </div>
      <div class="col py-3 content-sidenav">
       <router-outlet></router-outlet>
      </div>
  </div>
</div>
