<div class="home-reasturant-container">
  <div class="container-fluid p-0 m-0 ">

    <div class="header  "
         [ngStyle]="{'background-image': (!infoRestaurant$?.avatar||infoRestaurant$?.avatar==='no-avatar' )? 'url(../../../../assets/imgs/oriental-restaurant.jpg)' : 'infoRestaurant$?.avatar'}">

      <nav class="navbar w-75 mx-auto navbar-expand-lg   bg-white rounded border-stone-900">
        <div class="container-fluid">
          <p class="navbar-brand text-orange-400 antialiased hover:subpixel-antialiased font-semibold ">{{name_rest}}
          </p>
          <button class="navbar-toggler ring-orange-400 hover:bg-sky-700 fouce:outline-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <i class="fa-solid fa-bars border-orange-400 outline-none text-orange-400 ring-orange-400"
               aria-hidden="true"></i>
            <!-- <span class="navbar-toggler-icon ring-orange-400"></span> -->
          </button>
          <div class="collapse navbar-collapse "
               id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="mx-2 my-sm-1 my-lg-0 my-1">
                <a class="nav-link text-orange-400 rounded-xl border bg-gray-100 focus:bg-gray-100 active:bg-gray-200 px-3"
                   fragment="registerReservation"
                   (click)="navigateToSection('registerReservation')">حجز</a>
              </li>
              <li class="mx-2 my-sm-1 my-lg-0 my-1">
                <a class="nav-link text-orange-400 text-center rounded-xl border bg-gray-100 focus:bg-gray-100 active:bg-gray-200 px-3"
                   fragment="registerReservation"
                   (click)="navigateToSection('registerReservation')">تواصل معنا</a>
              </li>
              <li class="mx-2 my-sm-1 my-lg-0 my-1">
                <a class="nav-link text-orange-400 rounded-xl border bg-gray-100 focus:bg-gray-100 active:bg-gray-200 px-3"
                   fragment="registerReservation"
                   (click)="navigateToSection('registerReservation')">المنيو</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
      <div class="section-about ">
        <div
             class="relative group w-4/5 mx-auto shadow-xl bg-white space-x-2 space-y-2 py-4 px-4 rounded-xl transform transition duration-500 hover:scale-105 border-2 border-gray-600 ">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-md-6">
              <p class="lead primary-color font-medium">أوقات عمل المطعم
                <span class="color-orange">{{infoRestaurant$?.workingStart}} </span>
                <span>حتى </span>
                <span class="color-orange">{{infoRestaurant$?.workingEnd}}</span>
              </p>
            </div>
            <div class="col-12 col-sm-12 col-md-md-6">
              <p class="lead  rounded-2xl primary-color  font-medium ">العنوان
                <span class="color-orange">{{infoRestaurant$?.address}}</span>

              </p>
            </div>
            <div class="col-12 col-sm-12 col-md-md-6">
              <div class="row bg-gray-200 rounded-2xl primary-color py-1">
                <div class="col-12 ">معلومات التواصل </div>
                <div class="col-12  col-sm-12 ">
                  <div class="row "
                       *ngFor="let item of infoRestaurant$?.phone_contact">
                    <!-- name -->
                    <!-- <div class="col-12 col-sm-12 col-md-6">{{item.name}}</div>
              <div class="col-12 col-sm-12 col-md-6">{{item.number}}</div> -->
                    <div class="col-12 col-sm-12 col-md-6">رقم الهاتف</div>
                    <div class="col-12 col-sm-12 col-md-6">0968825014</div>
                  </div>

                </div>

                <div class="col-12-col-sm-12 col-md-12">
                  <div class="row">
                    <div class="col-12">مواقع التواصل </div>
                    <div class="col-12">
                      <div class="row ">
                        <div class="col-12 col-sm-12 col-md-6"
                             *ngFor="let item of infoRestaurant$?.web_links">
                          <p>{{item.name}} : <a [href]="item.link"
                               class="no-underline hover:underline">link</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main container row mx-auto mt-5">
      <div class="row py-5 mx-auto">
        <mat-card class="row p-3 mx-auto py-5 h-100"
                  id="registerReservation">
          <mat-card class="shadow-lg rounded row mx-auto h-100 w-90">
            <div class="col-12">
              <p class="lead fw-normal primary-color registerReservation-title pt-2 pb-0">يمكنك الحجز لدينا
                <br>
                <span class=" small py-0"> نظام الحجوزات الألكرتروني</span>

              </p>


            </div>
            <div class="col-12 mx-sm-auto ">
              <form action=""
                    [formGroup]="registerReservation"
                    class="row"
                    (ngSubmit)="registerReservationSubmit()">
                <div class="row test- mx-auto">
                  <div class="col-12 col-md-6 col-lg-4 mx-sm-auto py-sm-2 py-2  mx-auto ">
                    <input type="text"
                           class=" form-control mx-auto w-100"
                           formControlName="name"
                           [class.is-invalid]="getError('name')"
                           placeholder="اسم مقدم الحجز">
                    <p class="py-0 my-0    error-masg "
                       *ngIf="getError('name')">هذا الحقل مطلوب</p>
                  </div>


                  <div class="col-12 col-md-6 col-lg-4 mx-sm-auto my-sm-2 my-2  mx-auto">
                    <input type="text"
                           formControlName="phone"
                           class=" form-control mx-auto w-100"
                           [class.is-invalid]="getError('phone')"
                           placeholder="رقم الهاتف للتواصل معك">
                    <p class="py-0 my-0 error-masg "
                       *ngIf="getError('phone')">
                      <span *ngIf="phone?.errors?.['required']">هذا الحقل مطلوب</span>
                      <span *ngIf="phone?.errors?.['pattern']">
                        صيغة رقم الهاتف غير صالحة</span>
                    </p>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 mx-sm-auto my-sm-2 my-2  mx-auto">
                    <input type="text"
                           formControlName="numberTable"
                           class=" form-control mx-auto w-100"
                           [class.is-invalid]="getError('numberTable')"
                           placeholder="عدد الطاولات التي تريد حجزها">
                    <p class="py-0 my-0 error-masg "
                       *ngIf="getError('numberTable')">
                      <span *ngIf="numberTable?.errors?.['required']">هذا الحقل مطلوب</span>
                      <span *ngIf="numberTable?.errors?.['numeric']">
                        يرجى إدخال عدد صحيح</span>
                    </p>
                  </div>
                </div>
                <div class="row mt-3 mt-sm-1 mt-md-2 mx-auto">
                  <div class="col-12 col-md-6 col-lg-4 ">

                    <mat-form-field appearance="outline"
                                    class="w-100 my-0 my-lg-2">
                      <input matInput
                             formControlName="dateOfReservation"
                             [class.is-invalid]="getError('dateOfReservation')"
                             class="w-100"
                             [min]="minDate"
                             [max]=" maxDate"
                             [ngxMatDatetimePicker]="picker"
                             placeholder="تاريخ ووقت الذي تريد الحجز به">
                      <mat-datepicker-toggle matSuffix
                                             [for]="$any(picker)"></mat-datepicker-toggle>
                      <ngx-mat-datetime-picker #picker
                                               [color]="'primary'"
                                               [showSpinners]="true"
                                               [showSeconds]="false"
                                               [stepHour]="1"
                                               [stepMinute]="15"
                                               [touchUi]="true"
                                               [enableMeridian]="true"
                                               [disableMinute]="false"
                                               [hideTime]="false">
                        <ng-template>
                          <span>OK</span>
                        </ng-template>
                      </ngx-mat-datetime-picker>
                      <mat-error class="py-0 my-0    error-masg "
                                 *ngIf="getError('dateOfReservation')">هذا الحقل مطلوب</mat-error>

                    </mat-form-field>


                  </div>
                  <div class="col-12 col-md-6 col-lg-8 mt-4 mt-sm-1 mt-md-2 mx-auto">
                    <textarea type="text"
                              formControlName="note"
                              class=" form-control mt-1"
                              placeholder=" اي  ملاحظات تريد ارفاقها مع الحجز مثل تخصيص طلبات خاصة بك او عدد الافراد  مثلاً"></textarea>
                  </div>
                </div>
                <div class="row mt-4 mt-sm-1 mt-md-2 mx-auto">
                  <div class="col-12 col-md-4 col-lg-3 mx-auto">
                    <button type="submit "
                            [disabled]="registerReservation.invalid"
                            class="btn px-4 btn-success btn-reservations py-1 text-light mx-auto w-100"
                            mat-button
                            mat-stroked-button> تثبيت الحجز</button>
                  </div>
                </div>




              </form>
            </div>

          </mat-card>

        </mat-card>
      </div>
    </div>
    <div class="footer row">

    </div>

  </div>
</div>

<swal>
</swal>