<ng-container *ngIf="true">
  <nav class="navbar navbar-expand-lg sticky-top p-0 px-4 m-0 fiexed-navbar-top mx-0">
    <div class="container d-flex  mx-4 flex-row flex-md-row  justify-content-between">
      <div class="">
        <a class="brand-name"
           routerLink="/home"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="activeLink">كابتن</a>
      </div>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#main"
              aria-controls="main"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"
           aria-hidden="true"></i>
      </button>


      <div class="collapse navbar-collapse "
           id="main">
        <!-- d-flex flex-sm-column flex-md-row align-items-center justify-content-md-between justify-content-sm-start justify-content-start -->
        <div class="d-flex align-items-center w-100">
          <div class=" d-flex justify-content-between w-100">
            <ul class="navbar-nav  mb-2 mb-lg-0">
              <li class="nav-item">
                <!-- <a class="nav-link active p-2 p-lg-3" aria-current="page" >{{'homeSection.features'|translate}}</a> -->
              </li>
              <li class="nav-item">
                <a class="nav-link p-2 p-lg-3">خدماتنا</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-2 p-lg-3">عملائنا</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-2 p-lg-3">التواصل معنا</a>
              </li>
            </ul>
          </div>

          <div class="" *ngIf="!isLogin">
            <a
               class="btn main-btn rounded-pill"
               mat-button
               [routerLink]="'login'"
               routerLinkActive="activeLink">تسجيل الدخول </a>

          </div>
          <div class="" *ngIf="isLogin">
            <a
               class="btn main-btn rounded-pill"
               mat-button
               (click)="logout()"
               >تسجيل خروج </a>

          </div>
        </div>
      </div>

    </div>
  </nav>
</ng-container>
