<div class="container py-5 mt-5 text-light">
  <div class="row">
    <div class="col-12">
      <p class="lead">طلبات الأِشتراك التي تقدم بها الأشخاص عن طريق الصفحة العامة للمنصة</p>

    </div>
    <div class="col-12">
      <mat-card>


          <input type="text" class=" form-control w-50 my-2" (keyup)="applyFilter($event)" placeholder="ابحث" #input>

        <div class="mat-elevation-z8 table-box-conatiner">
          <table mat-table
          matSort
          [dataSource]="dataSource"
          class=" w-100 text-center ">

     <ng-container matColumnDef="id">
       <th mat-header-cell class="color-orange text-center fw-normal fs-6"
           *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> No. </th>
       <td mat-cell
           *matCellDef="let element let i = index">
           {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}
           </td>
     </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="name">
       <th mat-header-cell
       class="color-orange text-center fw-normal fs-6"
           *matHeaderCellDef> اسم المطعم </th>
       <td mat-cell
           *matCellDef="let element"> {{element.name}} </td>
     </ng-container>
     <ng-container matColumnDef="username">
      <th mat-header-cell
      class="color-orange text-center fw-normal fs-6"
          *matHeaderCellDef> اسم المستخدم </th>
      <td mat-cell
          *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
     <ng-container matColumnDef="phone">
       <th mat-header-cell
       mat-sort-header sortActionDescription="Sort by number"
       class="color-orange text-center fw-normal fs-6"
           *matHeaderCellDef> رقم الهاتف </th>
       <td mat-cell

           *matCellDef="let element"> {{element.phone}} </td>
     </ng-container>
     <ng-container matColumnDef="address">
       <th mat-header-cell
       class="color-orange text-center fw-normal fs-6"
           *matHeaderCellDef> العنوان </th>
       <td mat-cell
           *matCellDef="let element"> {{element.address}} </td>
     </ng-container>
     <ng-container matColumnDef="createdAt">
       <th mat-header-cell
       class="color-orange text-center fw-normal fs-6"
           *matHeaderCellDef> تاريخ الأشتراك </th>

           <!--  -->
       <td mat-cell
           *matCellDef="let element">
           {{element.updatedAt |date: 'dd/MM/yyyy'}}
          </td>
     </ng-container>
     <!-- expiration_date -->
     <ng-container matColumnDef="expiration_date">
      <th mat-header-cell
      class="color-orange text-center fw-normal fs-6"
          *matHeaderCellDef> صلاحية الأشتراك </th>
      <td mat-cell
          *matCellDef="let element"> {{element.expiration_date |date: 'dd/MM/yyyy'}}
          <br>
          <!-- element.createdAt -->

          <span class=" day-label">{{moment.duration(moment(element.expiration_date, "YYYY-MM-DD").diff(moment(element.updatedAt, "YYYY-MM-DD"))).asDays()}}
            <span class=" day-label"> يوم متبقي</span>
          </span>
         </td>
    </ng-container>
     <ng-container matColumnDef="active">
       <th mat-header-cell class="color-orange text-center fw-normal fs-6"
           *matHeaderCellDef> حالة الاشتراك </th>
       <td mat-cell
           *matCellDef="let element">
           <span  class="btn" >
             <span *ngIf="element.active" [ngClass]="element.active?'active-rest':'not-active-rest'">حساب فعال
             </span>
             <span *ngIf="!element.active" [ngClass]="element.active?'active-rest':'not-active-rest'">حساب غير مفعل</span>
           </span>
           <!-- add_box -->
           <button mat-icon-button class="float-start" (click)="editRestaurantAccount(element.active, element._id)"><mat-icon aria-hidden="false" >app_registration</mat-icon> </button>
             </td>
     </ng-container>
     <!-- {{element.active}} -->
     <tr class="bg-primary-color"
      mat-header-row
         *matHeaderRowDef="displayedColumns;sticky: true"></tr>
     <tr mat-row
     class=""
         *matRowDef="let row; columns: displayedColumns;"></tr>
         <!-- ************** -->
         <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">لا يوجد بيانات لعرضها  "{{input.value}}"</td>
        </tr>

   </table>
   <mat-paginator class="mat-paginator-sticky d-flex" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

      </mat-card>


    </div>
  </div>
</div>

